* {
    padding: 0;
    margin: 0;
}

header {
    height: 200px;
    background-color: rgb(254, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: white;
}

.login {
    position: absolute;
    align-self: flex-end;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login a {
    padding: 15px 20px;
    background-color: rgba(225, 2, 2, 0.733);
    font-size: 20px;
    text-decoration: none;
    color: white;
    display: flex;
    position: relative;
}

.hover {
    position: absolute;
    margin-top: 156px;
    width: 100%;
    display: none;
}

.cadastro:hover .hover{
    display: block;
}



